# yaml-language-server: $schema=https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2024/04/config/document.json
$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2024/04/config/document.json
metadata:
  name: Desktop Settings Configuration
  description: Configure Windows desktop settings and preferences
  version: 1.0.0
resources:
  - name: set desktop background solid
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Control Panel\Desktop
      valueName: WallPaper
      valueData:
        String: " "

  - name: refresh desktop background
    type: Microsoft.DSC.Transitional/RunCommandOnSet
    properties:
      executable: RUNDLL32.EXE
      arguments:
        - USER32.DLL,UpdatePerUserSystemParameters
        - ",1"
        - ",True"

  - name: show file extensions
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: HideFileExt
      valueData:
        DWord: 0

  - name: hide search box
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Search
      valueName: SearchboxTaskbarMode
      valueData:
        DWord: 0

  - name: hide widgets button
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: TaskbarDa
      valueData:
        DWord: 0

  - name: enable dark mode apps
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize
      valueName: AppsUseLightTheme
      valueData:
        DWord: 0

  - name: enable dark mode system
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize
      valueName: SystemUsesLightTheme
      valueData:
        DWord: 0
