# Create a file in this folder named wsl_startup.env. Use it to set or override variables used in wsl_startup.sh.

# WSL_WORKSPACE_FILE="<windows path to vhdx workspace drive, e.g. c:\\wsl\\workspace.vhdx>"

# Set these if the executables are in a different path.
# WSL_EXE="/mnt/c/Windows/system32/wsl.exe"
# CMD_EXE="/mnt/c/Windows/system32/cmd.exe"

# NOTE: This sourced file must have LF line endings, not CRLF, or the mount command will fail.
